

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
/* body{
    background-image: url(background.jpg);
    position: relative;
    z-index: 1 !important;
} */
/* .bgg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    z-index: -1;
} */
 /* nav{
    background-color: rgb(92, 184, 227);
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    
}  */
/* .logo {
    margin: 0 23px;
    cursor: pointer;
} */
/* ul{
    display: flex;
    margin: 0 23px;
    align-items: center;
}
ul>li{
    list-style: none;
    margin: 0px 13px;
}
ul>li:hover{
    color: darkolivegreen;
    cursor: pointer;
}
table,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
} */
/* .container{
    max-width: 80vw;
    margin: 23px auto;
}
h1,h2,h3{
    margin: 23px 0;
} */

/* button */

.btn{
    background-color: black;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    /* outline: 3px solid lightskyblue; */
    border: 3px solid lightskyblue;
    /* outline-offset: 2px; */
    transition: 1s;
    padding: 5px;
}
.btn:hover{
  background-color: aqua;
  cursor: pointer;
  /* cursor:pointer; */
}
.btn:active{
  background-color: blue;
  color: aquamarine;
  /* outline-offset: -5px; */
}


/* btnsm */

.btnsm{
    background-color: black;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    /* outline: 3px solid lightskyblue; */
    border: 3px solid lightskyblue;
    /* outline-offset: 2px; */
    transition: 1s;
    padding: 5px;
}
.btnsm:hover{
  background-color: rgb(49, 83, 91);
  cursor: pointer;
  /* cursor:pointer; */
}

/* #alert{
    display: none;
} */
/* #added{
    display: none;
} */
/* #delete{
    display: none;
} */

/* .logooo{
    width: 23px;
    height: 23px;
} */